<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<title>Books</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css">


<body>
	
	<!-- <header class="banner">	 -->
		<% include header.ejs %>
<!-- </header> -->

<!-- <nav> -->
		<% include user-navigation.ejs %>
<!-- </nav> -->

<!-- <aside> -->
	<% include site-navigation.ejs %>
<!-- </aside> -->


<section class="sectcontact">
	<h2>Contact Us</h2>
	<article>
		<header>
		<h3>You can contact us on abc.xyz@gmail.com for any feedbacks.</h3>
	</header>
	</article>

</section>

<!-- <footer> -->
		<% include footer.ejs %>
<!-- </footer> -->


</body>
</html>