<!-- <!DOCTYPE html> -->
<!-- <html lang ="en">
<head>
<meta charset="UTF-8">
<title>Books</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>


<body> -->
	
        <footer>
                <p>&copy; E-Books Inc</p>
            </footer>
<!-- </body>

</html> -->