<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<title>Books</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css">


<body>
		<% include header.ejs %>

		<% include user-navigation.ejs %>
<% include site-navigation.ejs %>
<section class="secthome">
	<h2>Books</h2>
	<article>
		<header>
		<h3>Welcome to E-Books. We over 58,000 free eBooks. Choose among free epub and Kindle eBooks, download them or read them online. You will find the world's great literature here, with focus on older works for which U.S. copyright has expired. Thousands of volunteers digitized and diligently proofread the eBooks, for enjoyment and education.</h3>
	</header>
	</article>
</section>
		<% include footer.ejs %>

</body>
</html>