<!-- <!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<title>Books</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>


<body>
	 -->
        <aside>
                <ul>
                    <!-- <li><a href="index.html">Home</a></li> -->
                    <li>
                            <a href="/">Home</a>
                        </li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="#">Store</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            
            </aside>
<!-- </body>
</html> -->