
        <nav>
                <ul>

                    <li><a href="/mybooks?actionFlag=signIn">Sign In</a></li>
                    <li><a href="/mybooks">My Books</a></li>
                    <li><a href= "/">Cart</a></li>
                </ul>
            </nav>
